fastapi
uvicorn[standard]
sqlalchemy>=1.4
asyncpg
alembic
python-dotenv
pydantic
pytest
httpx
passlib[bcrypt]
celery
redis
python-jose[cryptography]
python-multipart
email-validator
pydantic-settings
